body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.bg {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: url(https://source.unsplash.com/uZStJYqgwY0) no-repeat center center fixed;
    filter: blur(8px);
    -webkit-filter: blur(5px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 60%;
    margin: 0px auto;
    padding: 25px 0;
}

h1 {
    text-align: center;
    margin: 5px 0 35px 0;
}

button {
    width: 60px;
    border-radius: 50px;
    outline: 0;
    border-style: none;
    text-align: center;
    border: 2px solid orange;
    transition: all .5s;
}

button:hover {
    color: white;
    background: orange;
}

/* Input */
#inputs {
    height: 50px;
}

.from-input {
    float: left;
}

.to-input {
    float: right;
}

.input,
.output {
    width: 100%;
}

.input button {
    margin: 10px auto 0 auto;
    width: 150px;
    height: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.input button:focus {
    outline: 0;
    padding: 0;
}

/* Output */
.output,
textarea {
    resize: none;
    width: 100%;
}

.output,
.input {
    display: flex;
    flex-direction: column;
}

.output h3,
.input h3 {
    text-align: center;
    text-transform: uppercase;
}

#output-area,
textarea {
    flex-grow: 1;
    min-height: 300px;
    font-size: 13px;
    background-color: #ffffff;
    border: 1px #000000 solid;
}

#output-area {
    overflow-wrap: break-word;
    font-family: monospace;
}